# Compiled executables
*.exe
*.out
*.app

# Compiled object files
*.o
*.obj

#Backup files.
main_backup.cpp
main_official_real.cpp
main_backup_with_transparency.cpp
main_lab1.cpp
main_bup_facs.cpp
main_with_lab3.cpp